<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JaCasa Road</title>
    <link rel="stylesheet" href="../css/style-home.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/jacasa-road-logo.jpg" alt="JaCasa Road Logo">
            <h1>JaCasa Road</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="../templates/homeLogin.html">Home</a></li>
                <li><a href="explorerVisualizarTodosAnuncios.html">Explorar</a></li>
                <li><a href="../templates/feedConstrucao.html">Feed</a></li>
                <li><a href="../templates/adsMeusAnunciosAnfitriao.html">Anúncios</a></li>
                <li><a href="../templates/configDadosPessoais.html">Perfil</a></li>
               
          
            </ul>
        </nav>
        <div class="profile-icon">
            <img src="../images/default-image-perfil.jpg" alt="Perfil">

        </div>
    </header>

    <section class="welcome-section">
        <h2>Bem-vindo ao JaCasa Road! Sinta-se em casa na estrada =D</h2>
    </section>

    <section class="images-section">
        <div class="image-container">
            <img src="../images/image-home-one.jpg" alt="Imagem 1">
        </div>
        <div class="image-container">
            <img src="../images/image-home-three.jpg" alt="Imagem 2">
        </div>
        <div class="image-container">
            <img src="../images/image-home-two.jpg" alt="Imagem 3">
        </div>
    </section>

    <section class="differentials-section">
        <div class="image-container-differentials">
            <img src="../images/image-home-diferencial.jpg" alt="Imagem 4">
        </div>
        <div class="topics">
            <ul>
                <li>Campings</li>
                <li>Trailers</li>
                <li>Apoio na estrada</li>
            </ul>
        </div>
        <div class="differentials">
            <h3>Diferencial</h3>
            <p>Encontre amigos de viagem<br>
                Pontos de apoio na estrada<br>
                Segurança e suporte grantido<br>
                Compartilhe aventuras</p>
        </div>
    </section>

    <section class="faq-section">
        <div class="faq-column">
            <h3>O que são os pontos de apoio?</h3><br>
            <p>Esses locais oferecem segurança e conforto para viajantes na estrada.
            É possível encontrar hospedagens com abastecimento elétrico  e hídrico
            para trailers, além de conveniências como farmácias, equipamentos de 
            camping e sobrevivência, vestiários, internet e áreas de trabalho.
            Tudo isso em um só lugar!<br><br>

            Com isso, trabalhadores remotos podem se aventurar sem precisar
            tirar férias do trabalho, desfrutando de uma jornada tranquila e produtiva. =]</p>
        </div>
        <div class="faq-column">
            <h3>Quais categorias existem?</h3><br>
            <p>Você encontrará uma variedade de hospedagens, desde opções temáticas até 
                tradicionais, todas com uma imersão na natureza. Oferecemos áreas de camping 
                ideais para compartilhar com amigos e conhecer novas pessoas, além de 
                ambientes familiares com a opção de alugar trailers fixos, proporcionando
                 uma experiência imersiva e privativa, com a oportunidade de descobrir novas formas de viajar. 
                 Também contamos com estacionamentos para trailers com pontos de apoio, 
                 perfeitos para aventureiros que precisam de uma pausa na estrada.<br><br>
                Descubra seu jeito de colocar o pé na estrada!
                </p>
        </div>
        <div class="faq-column">
            <h3>Como se hospedar?</h3><br>
            <p>Entre em contato com o anfitrião do espaço para verificar a disponibilidade
                de vagas e caracteríticas do lugar. <br>Se precisar de suporte ou enfrentar uma situação de emergência,
                basta acionar nossa equipe, e nós garantiremos que você receba toda a 
                assistência necessária.<br><br>
                Consulte nossos canais de comunicação abaixo.
            </p>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <a href="contato.html">Contato</a>
            <a href="sobre.html">Sobre</a>
            <img src="../images/default-image-footer.jpg" alt="Imagem footer" width="80px">            <a href="suporte.html">Suporte</a>
            <a href="politicas.html">Políticas</a>
        </div>
        <div class="newsletter">
            <p>Receba as novidades em primeira mão! Inscreva-se em nossa newsletter:</p>
            <div class="newsletter-form">
                <input type="email" placeholder="Coloque seu melhor e-mail =]" required>
                <button type="submit">Junte-se à JaCasa Road</button>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2024 Camping System. | Desenvolvido por Kamily Santos. | Github: kamilydev</p>
        </div>
    </footer>
</body>
</html>
